{% extends 'basehome.html.twig' %}

{% block title %}Mon CV Numérique{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('build/home.css') }}">

{% endblock %}

{% block body %}

	<h1 class="dnone"> Mon CV numérique</h1>

	<p class="dnone">CV développeur web Rhône Alpes, portfolio de mes créations, php javascript ;)</p>

	<div id="container"></div>
			<div id="menu">
				<button id="table">TABLE</button>
				<button id="sphere">SPHERE</button>
				<button id="helix">HELIX</button>
				<button id="grid">GRID</button>
			</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('build/home.js') }}"></script>
<script type="module" src="{{ asset('js/home3d.js') }}"></script>
{% endblock %}