$backgroundBodyColor: #535858;
$backgroundContainerColor: lightgrey;
$backgroundContentColor: white;
$primaryColor: #a4a4a4;
$primaryColorHover: #757575;
$secondaryColor: #dc3545;
$secondaryColorHover: #c82333;
$titleTextColor: white;
$titleTextColorHover: #f9d809;
$textColor: #212529;
$fond1: rgba(255,255,255,0.5);
$fond2: rgba(211,211,211,0.6);
$fond3: rgba(255,255,255,0.8);
$blanc: white;
$noir: black;