@import "variables";

body{
	background-image: url("../../public/img/Phillysdon-min.gif") ;

	h1{
		text-align: center;
	}

	.container{
		background-color: $fond3;
		padding: 5%;
		border-radius: 4px;
		-webkit-box-shadow: 0px 0px 7px 2px rgba(66,65,66,1);
		-moz-box-shadow: 0px 0px 7px 2px rgba(66,65,66,1);
		box-shadow: 0px 0px 7px 2px rgba(66,65,66,1);
	}
}
