@import "variables";

body{
	background-image: url("../../public/img/Phillysdon-min.gif") ;
	font-family: 'Cabin Sketch', cursive;
	color: $noir;
	

	.container{
		background-color: $fond2;
		font-size: 120%;
		padding: 5%;
		border-radius: 4px;
		-webkit-box-shadow: 0px 0px 7px 2px rgba(66,65,66,1);
		-moz-box-shadow: 0px 0px 7px 2px rgba(66,65,66,1);
		box-shadow: 0px 0px 7px 2px rgba(66,65,66,1);

		h1{
			text-align: center;
			font-size: 280%;
			color: $blanc;
		}

		.description{
			text-align: center;
			color: $blanc;
		}
	}
}