@import "variables";

body{
	color: white;
	margin-top:10%;
	font-family: 'Cabin Sketch', cursive;
	background-color: $noir;

	@media screen and (max-width: 500px) {
	  font-size: 90%;
	}
	
	h1{
		text-align: center;
	}

	h3{
		text-align: center;
		color: white;

		@media screen and (max-width: 500px) {
		  font-size: 150%;
		}
	}

	h5{
		font-size: 150%;
		font-weight: bold;

		@media screen and (max-width: 500px) {
		  font-size: 120%;
		}
	}

	p{
		text-align: center;
		font-size: 100%;

		@media screen and (max-width: 500px) {
		  font-size: 150%;
		}
	}

	.apropos-container{
		margin: 10%;

		@media screen and (max-width: 500px) {
		   margin:0;
		   margin-top: 15%;
		}
	}

	.cv{

		font-family: 'Cabin Sketch', cursive;
		padding:2%;
		background-color: $fond1;
		display: flex;
		flex-direction: column;
		color: $textColor;
		border-radius: 3px;
	}

	.contenu{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.col-skills-interests{
		width: 30%;
		background-color: $fond2;
		border-radius: 5px;
		padding:2%;
	}

	.col-formation-exp{
		width: 65%;
		border-radius: 5px;
		background-color: $fond3;
		padding:2%;
	}

	.presentation{
		font-size: 130%;
		color: white;

		h3{
			font-size: 250%;
		}

		img{
			display: block;
			margin:auto;
			border-radius: 50%;
			border:2px solid $backgroundContainerColor;
		}
	}

	.skills{
		border: 3px solid white;
		border-radius: 5px;
		padding:2%;
	}

	.interests{
		border: 3px solid white;
		border-radius: 5px;
		padding:2%;
	}

	.profile-link{
		display:flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.img-no{
		border:none !important;
		padding-top:5px;
	}

	.exp{
		border: 3px solid $backgroundContainerColor;
		border-radius: 5px;
		padding:2%;
	}

	.formation{
		border: 3px solid $backgroundContainerColor;
		border-radius: 5px;
		padding:2%;
	}

	.musique{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: 130%;
	}

	.nature{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: 130%;
	}

	.sport{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: 130%;
	}

	.informatique{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: 130%;
	}

	.img-rond{
		border-radius: 50%;
		border: 2px solid $noir;
	}

	.exp-pro{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		text-align: center;

		.annee{
			width: 30%;
		}

		.poste{
			width: 70%;
		}

		.intit{
			font-size: 120%;
			font-weight: bold;
		}
	}

	.intit{
		font-size: 120%;
		font-weight: bold;
	}

	.underline{
		text-decoration: underline;
	}

	.learn{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size: 90%;
	}

	.liens{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.skill{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		img{
			height: 50px;
		}

		.bar{
			width: 65%;
			height: 25px;
			text-align: left;
			background-color: darkgrey;
			color: white;
		}

		.anim{

			height: 25px;
		}

		.animate-1{
			animation: animate-debutant 1s;
			animation-fill-mode: forwards;
		}

		.animate-2{
			animation: animate-intermediaire 1s;
			animation-fill-mode: forwards;
		}

		.animate-3{
			animation: animate-confirme 1s;
			animation-fill-mode: forwards;
		}

		.animate-4{
			animation: animate-expert 1s;
			animation-fill-mode: forwards;
		}

		@keyframes animate-expert {
		    from {
		    	width: 0px;
		    	background-color: lightgrey;
			}
			to {
			    width: 100%;
			    background-color: #f44336;
			}
		}

		@keyframes animate-confirme {
		    from {
		    	width: 0px;
		    	background-color: lightgrey;
			}
			to {
			    width: 75%;
			    background-color: #4caf50;
			}
		}

		@keyframes animate-intermediaire {
		    from {
			    width: 0px;
			    background-color: lightgrey;
			}
			to {
			    width: 50%;
			    background-color: #3f51b5;
			}
		}

		@keyframes animate-debutant {
		    from {
			    width: 0px;
			    background-color: lightgrey;
			}
			to {
			    width: 25%;
			    background-color: #9c27b0;
			}
		}
	}
}