@import "variables";

footer{
	
	background-color: rgba(0,0,0,0.95);
	margin-top: 10%;
	margin-left:auto;
	margin-right:auto;
	padding: 2%;
	font-family: 'Cabin Sketch', cursive;
	font-size: 120%;

	.footer{
	width: 100%;
	display: flex;
	margin: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $titleTextColor;

		a{
			color: $titleTextColor;
			text-decoration: none;
			transition: 0.2s;

			&:hover{
				color:$titleTextColorHover !important;
				text-decoration: none;
			}
		}

		img{

			@media screen and (max-width: 500px) {
			   width: 40px;
			   height: auto;
			}
		}

		.img-lien-footer{

			@media screen and (max-width: 500px) {
			   width: 100px;
			   height: auto;
			}
		}

		.copyright{
			font-size: 70%;
		}
	}
}

