
@import "variables";

body{
	background-image: url("../../public/img/Phillysdon-min.gif") ;

	.anim-border{
		width: 50%;
		border-radius: 4px;
		margin-top: 10%;
		margin-bottom: 0px;
		margin-right: auto;
		margin-left: auto;
		padding:4px;
		background: linear-gradient(
			60deg,
			hsl(224, 85%, 66%),
			hsl(269, 85%, 66%),
			hsl(314, 85%, 66%),
			hsl(359, 85%, 66%),
			hsl(44, 85%, 66%),
			hsl(89, 85%, 66%),
			hsl(134, 85%, 66%),
			hsl(179, 85%, 66%)
			);
		background-size: 300% 300%;
		background-position: 0 50%;
		animation: moveGradient 4s alternate infinite;
		-webkit-box-shadow: 0px 0px 7px 2px rgba(66,65,66,1);
		-moz-box-shadow: 0px 0px 7px 2px rgba(66,65,66,1);
		box-shadow: 0px 0px 7px 2px rgba(66,65,66,1);

		@media screen and (max-width: 500px) {
	   		width: 85%;
	   		margin-top: 30%;
	 	}
	}
	@keyframes moveGradient {
	    50% {
	    	background-position: 100% 50%;
	    }
	}
}
.container{
	background-color: $backgroundContainerColor;
	width:100%;
	margin:0 !important;
	padding:3%;
	border-radius: 4px;

	h1{
		text-align: center;
		margin-bottom: 0px  !important;
	}

	button{
		display: block;
		margin:auto;
		background-color: $primaryColor;
		color: black;
		border-color: #cacac8;

		&:hover{
			background-color: $primaryColorHover;
			color: black;
			border-color: #cacac8;
		}

		&:focus{
			background-color: $primaryColor;
			color: black;
			border-color: #cacac8;
			box-shadow: 0 0 0 .2rem  rgba(245,217,37,1);
		}
	}

	.line{
		width:70%;
		margin: auto;
	}

	.title-login{
		display: block;
		margin:auto;
		text-align: center;
	}

	.form-control{

		&:focus{
			border-color: #cacac8;
			box-shadow: 0 0 0 .2rem  rgba(245,217,37,1);
		}
	}
}