@import "variables";

.navbar-black{
	background-color: rgba(0,0,0,0.95);
	.total-nav{
		align-items: center;
	}
	.personav{
		padding-bottom: 0px;
		padding-top: 0px;
		justify-content: center;
	}
	.active{
		color:grey !important;
	}
	img{
		width:55px;
		height: 55px;
	}
	a{
		color:$titleTextColor !important;
		transition: 0.5s;
		font-family: 'Cabin Sketch', cursive;
		font-size: 130%;
		&:hover{
			color:$titleTextColorHover !important;
		}

	}
}