@import "variables";

body{
	background-image: url("../../public/img/Phillysdon-min.gif") ;
	color: white;
	margin-top:10%;
	
	h1{
		text-align: center;
	}

	p{
		text-align: center;
	}

	.apropos-container{
		margin: 15%;
	}
}