@import "variables";

body{
	background-image: url("../../public/img/Phillysdon-min.gif") ;
	font-family: 'Cabin Sketch', cursive;
	

	.container{
		background-color: $fond1;
		padding: 5%;
		text-align: center;
		border-radius: 4px;
		-webkit-box-shadow: 0px 0px 7px 2px rgba(66,65,66,1);
		-moz-box-shadow: 0px 0px 7px 2px rgba(66,65,66,1);
		box-shadow: 0px 0px 7px 2px rgba(66,65,66,1);

		h1{
			text-align: center;
			text-decoration: none;
	 		color: $blanc;
	 		font-size: 250%;
		}

		h2{
			font-size: 200%;
		}

		a{
			color: $textColor;
			text-decoration: none;
			transition: 0.2s;

			&:hover{
				color:$titleTextColorHover !important;
				text-decoration: none;
			}
		}


		.page-item{

			&.active .page-link {
			    color: $titleTextColor;
			    background-color: $primaryColor;
			    border-color: $primaryColor;			    
			}
		}

		.page-link{

			&:focus{
				box-shadow: 0 0 0 .2rem rgba(249,216,9,.45);
			}
		}

		.jumbotron{

			.btn{

				&:hover{
					color: $titleTextColorHover !important;
					text-decoration: none;
				}
			}
		}

		.souligne{
			text-decoration: underline;
		}

		.navigation{
			width: 100%;
			display: flex;
			justify-content: space-around;
		}

		.search-proj{
			position: fixed;
			left: 0;
			bottom: 0;
			width:35%;
			height:auto;

			button{

				font-size: 100%;
			}

			.form-row{
				align-items: flex-start;
			}

			@media screen and (max-width: 500px) {
			   width: 70%;
			   height: auto;
			}
		}

		.img-proj{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;

			img{

				@media screen and (max-width: 500px) {
			   		width: 85px;
			   		height: auto;
			 	}
			}
		}
		
		.skill-proj{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;

			img{

				@media screen and (max-width: 500px) {
			   		width: 30px;
			   		height: auto;
			 	}
			}
		}
	}
}