@import "variables";

body{
	background-image: url("../../public/img/Phillysdon-min.gif") ;

	.container{
		background-color: $fond1;
		padding: 5%;
		font-family: 'Cabin Sketch', cursive;
		color: $noir;
		font-size: 120%;
		border-radius: 4px;
		-webkit-box-shadow: 0px 0px 7px 2px rgba(66,65,66,1);
		-moz-box-shadow: 0px 0px 7px 2px rgba(66,65,66,1);
		box-shadow: 0px 0px 7px 2px rgba(66,65,66,1);

		h1{
			text-align: center;
			font-size: 250%;
		}

		p{
			text-align: center;
		}

		.wrap{
			background-color: $fond3;
			padding: 2%;
			border-radius: 5px;

			a{
				color: $noir;
				text-decoration: none;
				transition: 0.2s;

				&:hover{
					color: $titleTextColorHover;
				}
			}

			.projet-picture{


				img{
					@media screen and (max-width: 500px) {
				   		width: 75px;
				   		height: auto;
				 	}
				}

				
			}
		}

		.skill-proj{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
		}
		
		.souligne{
			text-decoration: underline;
			text-align: center;
		}

		.project-pictures{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
		}
	}
}