@import "variables";

body{

	.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
	    box-shadow: 0 0 0 .2rem $primaryColor !important;
	}

	.dnone{
		display:none;
	}

	.lazy{
		opacity: 0;
		transition: opacity 2.5s ease-in-out;
	}

	.loaded{
		opacity: 1;
	}

	.container{
		margin-top: 10%;
		font-size: 120%;

		@media screen and (max-width: 500px) {
	   		margin-top: 30%;
	 	}

		button{
			font-family: 'Cabin Sketch', cursive !important; 
			font-size: 120%;
		}

		.btn{
			font-family: 'Cabin Sketch', cursive !important;
			font-size: 120%;
			transition: 0.2s;

		}

		.jumbotron{
			background-color: $fond3;
		}

		.btn-primary{
			display: block;
			margin:auto;
			background-color: $primaryColor;
			color: black;
			border-color:black;

			&:hover{
				background-color: $primaryColorHover;
				border-color: black;
				color: $titleTextColorHover;
			}

			&:focus{
				background-color: $primaryColorHover;
				border-color: $primaryColorHover;
				box-shadow: 0 0 0 .2rem  $primaryColor;
			}

			&:active{
				background-color: $primaryColor !important;
				border-color: $primaryColorHover !important;
				color:$titleTextColor !important;
			}
		}

		.btn-danger{
			display: block;
			margin:auto;
			background-color: $secondaryColor;
			color: black;
			border-color: black;

			&:hover{
				background-color: $secondaryColorHover;
				border-color: $secondaryColorHover;
			}

			&:focus{
				background-color: $secondaryColorHover;
				border-color: $secondaryColorHover;
				box-shadow: 0 0 0 .2rem  rgba(218, 217, 216,1);
			}

			&:active{
				background-color: $secondaryColorHover !important;
				border-color: $secondaryColorHover !important;
				color: black !important;
			}
		}
	}
}