{% extends 'base.html.twig' %}

{% block title %}Nouveau Skill{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('build/new-skill.css') }}">

{% endblock %}

{% block body %}

<div class="container">

	<h1>Nouveau Skill</h1>

	<br>

	{% for message in app.flashes('error') %}

	<div class="alert alert-danger">{{ message }}</div>

	{% endfor %}

	<div class="row">
		<a class='btn btn-danger' href="{{ path('admin.skills.index') }}" >Retour</a>
	</div>

	{{ form_start(form) }}

	    {{ form_row(form.name) }}

	    {{ form_row(form.level) }}

	    {{ form_row(form.icon) }}
	    
		<div class="row">
			<button class="btn btn-primary">Enregistrer</button>
		</div>

	{{ form_end(form) }}

</div>
	
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/inputfile.js') }}"></script>
	<script type="text/javascript" src="{{ asset('build/new-skill.js') }}"></script>
{% endblock %}


