{% extends 'base.html.twig' %}

{% block title %}Modifier {{ skill.name }}{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('build/edit-skill.css') }}">

{% endblock %}

{% block body %}

<div class="container">

	<h1>Modifier {{ skill.name }}</h1>

	{% for message in app.flashes('success') %}

	<div class="alert alert-success">{{ message }}</div>

	{% endfor %}

	{% for message in app.flashes('error') %}

	<div class="alert alert-danger">{{ message }}</div>

	{% endfor %}

	<br>

	<div class="row">
		<a class='btn btn-danger' href="{{ path('admin.skills.index') }}" >Retour</a>
	</div>

	{{ form_start(form) }}

	    {{ form_row(form.name) }}

	    {{ form_row(form.level) }}

	    {{ form_row(form.icon) }}

	    {% if skill.icon %}
	        <div>
	        	<img src="{{ asset('/uploads/' ~ skill.icon.name) }}" alt="{{ skill.icon.name }}" width="150px">
	        </div>
	    {% endif %}

	    
	    <br>
		<div class="row">
			<button class="btn btn-primary">Enregistrer Les modifications</button>
		</div>

	{{ form_end(form) }}
		
</div>
	
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/inputfile.js') }}"></script>
	<script type="text/javascript" src="{{ asset('build/edit-skill.js') }}"></script>
{% endblock %}


