{% extends 'base.html.twig' %}

{% block title %}Administration des Skills{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('build/admin-skills.css') }}">

{% endblock %}

{% block body %}

	<div class = "container">

		{% for message in app.flashes('success') %}

		<div class="alert alert-success">{{ message }}</div>

		{% endfor %}

		{% for message in app.flashes('error') %}

		<div class="alert alert-danger">{{ message }}</div>

		{% endfor %}

		<h1>Tableau d'administration des Skills</h1>
		<hr>
		<div class="row">
			<a class="btn btn-primary" href="{{ path('admin.skill.create') }}">Nouveau Skill</a>
		</div>
		<hr>
		<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nom</th>
					<th scope="col">Image</th>
					<th scope="col">Level</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for skill in skills %}
				<tr>
					<th scope="row">{{ skill.id }}</th>
					<td>{{ skill.name }}</td>
					<td> {% if skill.icon %} <img src="{{ asset('/uploads/' ~ skill.icon.name) }}" alt="{{ skill.name }}" width="50px" height="50px" /> {% endif %} </td>
					<td>{{ skill.formatedLevel }}</td>
					<td><a class="btn btn-primary" href="{{ path('admin.skill.edit', {id: skill.id}) }}">Éditer</a></td>
					<td>
						<form method="post" action="{{ path('admin.skill.delete', {id: skill.id}) }}">
							<input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
							<button class="btn btn-danger" type="submit" onclick="return confirm('are u sure?')">Supprimer</button>
						</form>		
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('build/admin-skills.js') }}"></script>
{% endblock %}
