{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('build/contact.css') }}">

{% endblock %}

{% block body %}

<div class="container">

	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        Veuillez confirmer l'envoi de votre message.
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
	        <button type="button" id="envoi" class="btn btn-primary ">Envoyer Le Message</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<h1>Formulaire de Contact</h1>

	<hr>
	<p class="description">N'hésitez pas à me contacter pour tous renseignements, projets, ou même si vous voulez me recruter.</p>
	<hr>

	{% for message in app.flashes('success') %}

		<div class="alert alert-success">{{ message }}</div>

	{% endfor %}

	{% for message in app.flashes('error') %}

		<div class="alert alert-danger">{{ message }}</div>

	{% endfor %}

	{{ form_start(form) }}

		<div class="form-row">
			<div class="col">
				{{ form_label(form.nom) }}
				{{ form_widget(form.nom) }}
			</div>
			<div class="col">
				{{ form_label(form.prenom) }}
				{{ form_widget(form.prenom) }}
			</div>
		</div>
		<br>
			{{ form_label(form.email) }}
			{{ form_widget(form.email) }}
		<br>
		<div class="form-row">
			<div class="col">
				{{ form_label(form.status) }}
				{{ form_widget(form.status) }}
			</div>
			<div class="col">
				{{ form_label(form.telephone) }}
				{{ form_widget(form.telephone) }}
			</div>
		</div>
		<br>

	    {{ form_widget(form) }}

	{{ form_end(form) }}

</div>

	

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/contactForm.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/contact.js') }}"></script>
{% endblock %}
