{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('build/new-project.css') }}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

{% endblock %}

{% block body %}

<div class="container">
	<h1>Nouveau Projet</h1>

	<br>

	{% for message in app.flashes('error') %}

	<div class="alert alert-danger">{{ message }}</div>

	{% endfor %}
	
	<div class="row">
		<a class='btn btn-danger' href="{{ path('admin.projects.index') }}" >Retour</a>
	</div>

	{{ form_start(form) }}

	     {{ form_widget(form) }}
	
		<div class="row">
			<button class="btn btn-primary">Enregistrer</button>
		</div>

	{{ form_end(form) }}
		
</div>

	
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/inputfile.js') }}"></script>
	<script type="text/javascript" src="{{ asset('build/new-project.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/add-skill-ajax.js') }}"></script>
{% endblock %}


