{% extends 'base.html.twig' %}

{% block title %}Modifier {{ project.title }}{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('build/edit-project.css') }}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

{% endblock %}

{% block body %}

<div class="container">

	<h1>Modifier {{ project.title }}</h1>

	{% for message in app.flashes('success') %}

	<div class="alert alert-success">{{ message }}</div>

	{% endfor %}

	{% for message in app.flashes('error') %}

	<div class="alert alert-danger">{{ message }}</div>

	{% endfor %}

	<br>
	
	<div class="row">
		<a class='btn btn-danger' href="{{ path('admin.projects.index') }}" >Retour</a>
	</div>

	{{ form_start(form) }}

	    {{ form_widget(form) }}

	    <h6>Images</h6>

	    {% for image in project.pictures %}

	    <div class="imgs-projet">
	    	<div>
	    		<img src="{{ asset('/uploads/' ~ image.name) }}" alt="{{ image.name }}" width="150px">
	    	</div>
	    	<div>
	    		<a class='btn btn-danger' href="{{ path('admin.project.delete.img', {'id': image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">
	    			Supprimer
	    		</a>
	    	</div>
	    </div>

	    <br>
	    
	    {% endfor %}

	    <br>
		<div class="row">
			<button class="btn btn-primary">Enregistrer Les modifications</button>
		</div>

	{{ form_end(form) }}

</div>
	
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/images.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/inputfile.js') }}"></script>
	<script type="text/javascript" src="{{ asset('build/edit-project.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/add-skill-ajax.js') }}"></script>
{% endblock %}


