{% extends 'base.html.twig' %}

{% block title %}Administration des Projets{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('build/admin-projects.css') }}">

{% endblock %}

{% block body %}

	<div class = "container">

		{% for message in app.flashes('success') %}

		<div class="alert alert-success">{{ message }}</div>

		{% endfor %}

		{% for message in app.flashes('error') %}

		<div class="alert alert-danger">{{ message }}</div>

		{% endfor %}
		
		<h1>Tableau d'administration des Projets</h1>
		<hr>
		<div class="row">
			<a class="btn btn-primary" href="{{ path('admin.project.create') }}">Nouveau Projet</a>
		</div>
		<hr>
		<div class="table-responsive">
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Titre</th>
					<th scope="col">Lien</th>
					<th scope="col">Skills</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for project in projects %}
				<tr>
					<th scope="row">{{ project.id }}</th>
					<td>{{ project.title }}</td>
					<td><a href="{{ project.link }}">{{ project.link }}</a></td>
					<td>

						{% for skill in project.skills %}

							<span class="skill-project-index">{{ skill.name }}</span>

						{% endfor %}

					</td>
					<td>
						<div class="enregistrement">
							<a class="btn btn-primary" href="{{ path('admin.project.edit', {id: project.id}) }}">Éditer</a>
						</div>
					</td>
					<td>
						<form method="post" action="{{ path('admin.project.delete', {id: project.id}) }}">
							<input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
							<button class="btn btn-danger" type="submit" onclick="return confirm('are u sure?')">Supprimer</button>
						</form>		
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('build/admin-projects.js') }}"></script>
{% endblock %}

