<p>
    de {{ contact.nom }} {{ contact.prenom }}
</p>
<p>
    email: {{ contact.email }}
</p>
{% if contact.telephone %}
<p>
	telephone: {{ contact.telephone }}
</p>
{% endif %}
<p>
    {{ contact.status }}
</p>
<p>
    {{ contact.content }},
</p>