<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title> 
        <meta name="description" content="CV numérique développeur web Rhône Alpes, Portfolio de mes réalisations, Éssais philosophiques, 
        programmation et nouvelles technologies. développeur freelance en Ardèche."/>
        <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
        <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" >
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous" defer></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %} 
        <link rel="icon" type="image/png" href="{{ asset('img/t1logochris64blanc.webp') }}" />
        <script type="text/javascript" src="{{ asset('tarteaucitron/tarteaucitron.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/lazyanim.js') }}"></script>
        <script type="text/javascript">
                tarteaucitron.init({
                "privacyUrl": "https://lockmark.fr/policy", /* Privacy policy url */

                "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
                "cookieName": "tarteaucitron", /* Cookie name */
            
                "orientation": "middle", /* Banner position (top - bottom) */
                                   
                "showAlertSmall": false, /* Show the small banner on bottom right */
                "cookieslist": false, /* Show the cookie list */
                                   
                  "showIcon": true, /* Show cookie icon to manage cookies */
                  "iconPosition": "TopRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

                "adblocker": false, /* Show a Warning if an adblocker is detected */
                                   
                  "DenyAllCta" : true, /* Show the deny all button */
                  "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                  "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                                   
                "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

                "removeCredit": false, /* Remove credit link */
                "moreInfoLink": true, /* Show more info link */

                  "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
                  "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

                //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                                  
                  "readmoreLink": "", /* Change the default readmore link */

                  "mandatory": true, /* Show a message about mandatory cookies */
                });
        </script>
    </head>
    <body>
    	<nav class="navbar navbar-expand-lg navbar-dark navbar-black fixed-top justify-content-center">

            <div></div>

            <div class="navbar flex-row personav">
                 
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>   
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                    <ul class="navbar-nav mx-auto total-nav">
                      <li class="nav-item">
                        <a class="nav-link {% if active_menu is defined and active_menu == 'projects' %}active{% endif %}" 
                            href="{{ path('projects') }}">
                            Projets
                            {% if active_menu is defined and active_menu == 'projects' %}
                                <span class="sr-only">(current)</span>
                            {% endif %} 
                        </a>
                      </li>
                      {% if app.user %}
                      <li class="nav-item">
                        <a class="nav-link {% if active_menu is defined and active_menu == 'projects_admin' %}active{% endif %}"
                            href="{{ path('admin.projects.index') }}">
                            Projects
                            {% if active_menu is defined and active_menu == 'projects_admin' %}
                                <span class="sr-only">(current)</span>
                            {% endif %} 
                        </a>
                      </li>
                      {% endif %}
                      <li class="nav-item">
                        <a class="nav-link {% if active_menu is defined and active_menu == 'home' %}active{% endif %}" href="{{ path('accueil') }}">
                            <img src="{{ asset('img/logochris512gold.webp') }} " alt="logo">
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      {% if app.user %}
                      <li class="nav-item">
                        <a class="nav-link {% if active_menu is defined and active_menu == 'skills_admin' %}active{% endif %}" 
                            href="{{ path('admin.skills.index') }}">
                            Skills
                            {% if active_menu is defined and active_menu == 'skills_admin' %}
                                <span class="sr-only">(current)</span>
                            {% endif %} 
                        </a>
                      </li>
                      {% endif %}
                      <li class="nav-item">
                        <a class="nav-link {% if active_menu is defined and active_menu == 'contact' %}active{% endif %}"
                            href="{{ path('contact') }}">
                            Contact
                            {% if active_menu is defined and active_menu == 'contact' %}
                                <span class="sr-only">(current)</span>
                            {% endif %} 
                        </a>
                      </li>
                  </ul>
              </div>
              <div></div>
            </div> 
    	</nav>
        {% block body %}{% endblock %}

      <footer>
        <div class="footer">
          <a href="{{ path('apropos') }}">Qui suis-je?</a>
          <br>
          <div>
            <a href="{{ path('apropos') }}"><img class="img-lien-footer lazy" src="{{ asset('/img/logochris512rouge.webp') }}" loading="lazy" alt="no facebook" width="100px"></a>
          </div>
          <hr>
          {% if app.user %}
          <div>
            <a class="btn btn-primary" href="{{ path('app_logout') }}">Se Déconnecter</a>
          </div>
          {% endif %}
          <hr>
          <div>
            <a class="btn btn-danger" href="/img/cvDev2021.pdf" download>Télécharger CV PDF</a>
          </div>
          <hr>
          <div>
            <img class="lazy" src="{{ asset('/img/nofake.webp') }}" loading="lazy" alt="no facebook" width="100px">  
            <img class="lazy" src="{{ asset('/img/nosnap.webp') }}" loading="lazy" alt="no snapchat" width="100px">
            <img class="lazy" src="{{ asset('/img/noinsta.webp') }}" loading="lazy" alt="no instagram" width="100px">
            <img class="lazy" src="{{ asset('/img/notweet.webp') }}" loading="lazy" alt="no tweeter" width="100px">
          </div>
          <hr>
          <div class="copyright">
            Copyleft MIT <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" loading="lazy" /></a>
          </div>
        </div>
      </footer>
        

        <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
        <script type="text/javascript">
                tarteaucitron.user.gtagUa = 'G-V6T541VENX';
                tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
                (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
        </script>
        <script type="text/javascript">
                tarteaucitron.user.gajsUa = 'G-V6T541VENX';
                tarteaucitron.user.gajsMore = function () { /* add here your optionnal _ga.push() */ };
                (tarteaucitron.job = tarteaucitron.job || []).push('gajs');
        </script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
