{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('build/policy.css') }}">

{% endblock %}

{% block body %}

<div class="apropos-container">
	<h1>Politique de confidentialité</h1>

	<p>
		Ce site n'enregistre pas et n'utilise pas vos données personnelles.Cependant certains services tiers 
		comme Google Analytics ou Youtubes sont utilisés sur ce site et certaines données leurs sont transmisent par cookies 
		à des fins d'analyse du traffic et de suivi des médias. 
	</p>
	<p>
		Vous pouvez désactiver les cookies de ces services externes séparément et quand bon vous semble en cliquant sur l'icône 
		en bas à droite de votre écran. Certains services pourraient ne plus fonctionner correctement si les cookies sont désactivés. 
	</p>
	<p>
		Les autres cookies utilisés sont nécessaire au bon fonctionnement de l'application ainsi qu'à l'authentification des utilisateurs et ne peuvent être désactivés. Si vous avez des questions vous pouvez me contacter via le formulaire de contact Merci et bonne lecture.
	</p>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('build/policy.js') }}"></script>
{% endblock %}