<div class="jumbotron">

  	<h2 class="display-4"><a href="{{ path('project.show', {id:project.id, slug: project.slug}) }}">{{ project.title }}</a></h2>
    <br/>
    <div>
      <div class=" img-proj">

      {% for pic in project.pictures %}
      <div>
        <img src="{{ asset('/uploads/' ~ pic.name) }}"  alt="{{ pic.name }}" width="150px">
      </div>
      {% endfor %}
      
      </div>
    </div>
    <hr>
  	<p class="lead">{{ project.summary }}</p>
  	
		<div>
      <p class="souligne">Lien du projet :</p>
		  <p class="project-link"><a href="{{ project.link }}">{{ project.link }}</a></p>
		</div>
  	<br>
    <div class="skill-proj">
      {% for skill in project.skills %}
      {% if skill.icon %}
      <div>
        <img src="{{ asset('/uploads/' ~ skill.icon.name) }}" alt="{{ skill.name }}" width="50px">
      </div>
      {% else %}
      <div>
        {{ skill.name }}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <hr class="my-4">
    <div class="row">
    	<a class="btn btn-primary" href="{{ path('project.show', {id:project.id, slug: project.slug}) }}" role="button">Voir</a>
    </div>	
</div>