{% extends 'base.html.twig' %}

{% block stylesheets %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{{ asset('build/realisations.css') }}">
{% endblock %}


{% block title %}Mes Réalisations{% endblock %}

{% block body %}

	<div class = "container">
		<div class="search-proj">
		{{ form_start(form) }}
			<div class="form-row">
				<div class="col">
					{{ form_row(form.skills) }}
				</div>
				<div class="col">
					<button class="btn btn-primary">Rechercher</button>
				</div>
			</div>
		{{ form_end(form) }}
		</div>
		
		<h1>Mes Réalisations</h1>
		<hr>
		<div class = "flex">
			{% for project in pagination %}
				
				{% include 'project/_project.html.twig' %}

			{% endfor %}
		</div>
		<div class="navigation">
    		{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script >
    $('select').select2();
</script>
<script type="text/javascript" src="{{ asset('build/realisations.js') }}"></script>
{% endblock %}

