{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('build/show-project.css') }}">

{% endblock %}

{% block body %}
<div class = "container">
	<div class="wrap">
		<div class = "flex">
			<div class = "project-title"><h1>{{ project.title }}</h1></div>
			<hr>
			<div class = "project-pictures">
			{% for picture in project.pictures %}
				<div class = "projet-picture"><img src="{{ asset('/uploads/' ~ picture.name) }}" alt="{{ picture.name }}" width="150px"></div>
			{% endfor %}
			</div>
			<hr>
			<div class = "project-summary"><p class="souligne">Résumé:</p><p>{{ project.summary }}</p></div>
			<hr>
			<div class = "project-link"><p class="souligne">Lien du projet:</p><a href="{{ project.link }}"><p>{{ project.link }}</p></a></div>
			<hr>
			<div class = "project-content"><p class="souligne">Contenu:</p><p>{{ project.content |raw }}</p></div>
			<hr>
			<p class="souligne">Technologies Utilisées:</p>
			<div class="skill-proj">
				{% for skill in project.skills %}

				<div>
			      <img src="{{ asset('/uploads/' ~ skill.icon.name) }}" alt="{{ skill.name }}" width="50px">
				</div>

				{% endfor %}
			</div>
			<br>
			<div class="row">
				<a class="btn btn-primary" href="{{ path('projects') }}">Retour</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('build/show-project.js') }}"></script>
{% endblock %}
